body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--main-color);
  color: var(--line-color);
  height: 100vh;
  padding: 5px;
  margin: 5px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image--wrapper a img {
  display: block;
  margin: auto;
}

#stop_sign_mirror {
  background-image: url("mirror.png");
  width: 200px;
  height: 200px;
  background-size: 100%;
  transition: 0.5s;
}

#stop_sign_mirror:hover {
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-image: url("stop_sign_mirror.png");
}

#blob_image {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

#return_image {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}
